extends layout

block content
  h1 Micro Server
  p.lead Node.js, Express.js, TypeScript Application and REST API
  hr
  .row
    .col-sm-6
      h2 Application
      p Web Application.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 API
      p REST API.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
